<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xfh.mid.db.dao.UserOrderDao">
 
  <insert 	
  		id="batchCreateOrderItem" 
  		parameterType="java.util.List"
  			>
  			 <selectKey resultType ="java.lang.Long" keyProperty= "id"
                 order= "AFTER">
                SELECT LAST_INSERT_ID()
            </selectKey >
           insert into UserOrderItem 
           (
           		orderBizId, 
           		productId, 
           		modalId, 
           		modalTitle, 
           		specValueString, 
           		
           		imagePath,
           		brandId, 
           		marketPrice, 
           		retailPrice, 
           		quantity, 
           		
           		totalProductFee, 
           		buyUserId, 
           		buyUserCat, 
           		sku
           )
           
           values
           
            <foreach collection ="dataList" item="data" index= "index" separator =",">
                (
	                #{data.orderBizId},
	                #{data.productId},
	                #{data.modalId},
	                #{data.modalTitle},
	                #{data.specValueString},
	                
	                #{data.imagePath},
	                #{data.brandId},
	                #{data.marketPrice},
	                #{data.retailPrice},
	                #{data.quantity},
	                
	                #{data.totalProductFee},
	                #{data.buyUserId},
	                #{data.buyUserCat},
	                #{data.sku}
                )
            </foreach >
            
            
	
  </insert>
   
      
</mapper>