<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=0.12">
    <link rel="shortcut icon" href="../../../assets/image/favicon.ico" type="image/x-icon" /> 
    <title>小肥花商城</title>
    <meta name="description" content="小肥花商城">  
    <meta name="keywords" content="小肥花商城">  

  </head>
  <body>
    <div id="app">
	</div>
    <!-- built files will be auto injected -->
  </body>
</html>

<style lang="scss">

  /** 全局配置 **/
  html {
    width: 100%;
    height: 100%; }
  
  body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0; 
    
  }
  
  body {
    font-size: 16px;
    width: 100%;
    color: #333; 
  }
  </style>